* {
    padding: 0;
    margin: 0;
}

a.btn.btn-sm.btn-danger.waves-effect.waves-light {
    font-size: 20px;

}

.carousel-caption p {
    font-size: 25px;
    font-family: serif;
  
}

.carousel-caption.d-none.d-sm-block h2 {
    font-family: fantasy;
    font-size: 60px;
    color: #ff0c0c;
   
}

h2 {}

.logo img {
    width: 75px;
    border-radius: 50%;
}

a.dropdown-item.waves-effect.waves-light {
    color: aliceblue;
    font-size: 16px;
}

a.dropdown-item.waves-effect.waves-light:hover {
    background-color: #f0f8ff38;
    text-decoration: underline;
}

.dropdown-menu.show {
    background-color: #343a40cc;
}

a.navbar-brand.px-lg-4.mr-0 {
    margin-left: 6%;
    padding: 0;
}

ul.navbar-nav {
    margin-left: 7%;
}


h1 {
    font-size: 50px;
    font-family: initial;
    font-weight: bold;
}

#menu .nav-item {
    margin: 5px 38px;
}

#menu .nav-link.waves-effect.waves-light {color: aliceblue;}

a.nav-link.waves-effect.waves-light:hover {
    
/* border-radius: 50%; */
    
background-color: #f0f8ff38;
    
text-decoration: underline;
}

.bg-dark {
    background-color: #343a40cc!important;
}

.tieude{
    font-style: oblique;
    padding-top:5%;
    padding-bottom:5%;
}
.promotion{
    padding: 0;
    margin:0;
    color:white;
    background-image: url(../img/home.jpg);
    background-size: cover;
}
.promotion img{
    margin-top:5%;
    border-radius: 50%; 
    width: 50%;
    height: auto;
}

.promotion img:hover {
    transition: all 1s;
    border-radius: 20%;
}
.free {
    padding-top: 15%;
    padding-bottom: 15%;
    font-size: 25px;
}
.container-fluid{
    margin:0;
}
