body {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("https://vietnammoi.vn/stores/news_dataimages/anhkd/082017/05/22/26-hinh-anh-dep-den-nghet-tho-du-khong-chinh-sua-photoshop-38-.2292.jpg ");
}

#warp{
	margin: 5% 5% 5% 12%;
	width: 1000px;
	height: 500px;
	background-color: #eafffd;
	border: 5px solid #DCDCDC;
	border-radius: 30px;
	text-align: center;
}
#win {
	font-size: 50px;
	font-family: cursive;
	border-radius: 10px;
	text-align: center;	
	animation: title 5s infinite;
}
@keyframes title{
	0%{color: red}
	50%{color: blue}
	100%{color: yellow}
}
#hien h1{
	font-size: 50px;
	color: red;
	font-family: cursive;
	animation: title 5s infinite;
}
#hien h2{
	color: red;
	font-family: cursive;
	font-size: 30px;
}
.ngang{
	height: 2px;
	background-color: #696969;
}
#header {
	font-family: cursive;
	font-size: 25px;
	color: #FF3333;	
	animation: title 5s infinite;
}
.content{
	max-width: 100%;
	height:55%;
}
#question{
	font-family: cursive;
	font-size: 30px;
	color: blue;
}
#dapan1, #dapan2, #dapan3, #dapan4 {
	background-color: #faeaea;
	width: 45%;
	height:50px;
	margin: 10px;
	border: 1px solid red;
	border-radius: 10px;
	font-size: 20px;
	font-family: cursive;
}
#dapan1:hover, #dapan2:hover, #dapan3:hover, #dapan4:hover{
	background-color: #EED5B7;
	cursor: url("http://i165.photobucket.com/albums/u49/milano1110/crystal/2680-50803.png"),auto;
}
#dapan1:focus, #dapan2:focus, #dapan3:focus, #dapan4:focus{
	outline: 0;
}
#footer{
	padding-top: 20px;
	text-align: center;
	font-family: cursive;
	font-size: 20px;
	color: #FF6600;
}

#lost p{
	color: red;
	font-size: 20px;
	font-family: cursive;
	animation: title 5s infinite;
}
#lost h1{
	color: red;
	font-size:50px;
	font-family: cursive;
	animation: title 5s infinite;
}