*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.warp{
    position: relative;
    margin: auto;
    width: 1320px;
    height: auto;
}
.content{
    width: 70%;
    margin: auto;
    position: relative;

}
.gird{
    float: left;
    padding: 10px;
    margin: auto;
}
.cards{
    padding: 10px;
    position: relative;
}
img{
    width: 100px;
    height: auto;
}

.sau{
    padding: 10px;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}
.cards:hover .sau{
    transform: rotateY(0deg);
}
.cards:hover .truoc{
    transform: rotateY(180deg);
}
.sau, .truoc{
    transition: all 2s;
    backface-visibility: hidden;
}